$white: #ffffff;
$glowBlue: #e3eaff;
$grey100: #f6f9fe;
$grey200: #e8e8e8;
$grey300: #dbdbdb;

$font-dir: "/fonts/";

@font-face {
  font-family: "Poppins";
  src: url("#{$font-dir}Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "AktivGrotesk";
  src: url("#{$font-dir}AktivGroteskCorp-Regular.eot");
  src: url("#{$font-dir}AktivGroteskCorp-Regular.woff") format("woff"),
    url("#{$font-dir}AktivGroteskCorp-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
